In [7]:
import os, sys
from dotenv import find_dotenv, load_dotenv
import pandas as pd
load_dotenv(find_dotenv())

# add the 'src' directory as one where we can import modules
src_dir = os.path.join(os.getcwd(), os.pardir, 'src')
sys.path.append(src_dir)
from data.db_helper import DB_Helper

In [2]:
db = DB_Helper(os.environ.get('DB_PATH'))

In [3]:
db.add_company('A10 Networks, Inc.', 'ATEN', 'NYSE', 52683273, 'Computer Communications Equipment', 'Technology')

In [10]:
sql = 'SELECT * FROM company'
df = pd.read_sql_query(sql, db._conn)

In [11]:
df

,symbol,c_name,exchange,market_cap,industry,sector
0,ATEN,"A10 Networks, Inc.",NYSE,52683273,Computer Communications Equipment,Technology